## Preprocessing

In [43]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
df = pd.read_csv("Resources/charity_data.csv")
df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [44]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df=df.drop(["EIN","NAME"],axis=1)

In [45]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [46]:
# Look at APPLICATION_TYPE value counts for binning
group1=df.groupby("APPLICATION_TYPE")["AFFILIATION"].count()
d1=group1.to_dict()
def cutoff(dict,cf):
    dk=dict.keys()
    dv=dict.values()
    kl=[]
    for i in dk: 
        if(dict[i]>cf):
            kl.append(i)
    return(kl)
d1

{'T10': 528,
 'T12': 27,
 'T13': 66,
 'T14': 3,
 'T15': 2,
 'T17': 1,
 'T19': 1065,
 'T2': 16,
 'T25': 3,
 'T29': 2,
 'T3': 27037,
 'T4': 1542,
 'T5': 1173,
 'T6': 1216,
 'T7': 725,
 'T8': 737,
 'T9': 156}

In [47]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cf=600

application_types_to_replace=cutoff(d1,cf)


# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

Other    33495
T10        528
T9         156
T13         66
T12         27
T2          16
T25          3
T14          3
T29          2
T15          2
T17          1
Name: APPLICATION_TYPE, dtype: int64

In [48]:
# Look at CLASSIFICATION value counts for binning
group2=df.groupby("CLASSIFICATION")["AFFILIATION"].count()
d2=group2.to_dict()
d2

{'C0': 3,
 'C1000': 17326,
 'C1200': 4837,
 'C1230': 36,
 'C1234': 2,
 'C1235': 9,
 'C1236': 1,
 'C1237': 9,
 'C1238': 10,
 'C1240': 30,
 'C1245': 1,
 'C1246': 2,
 'C1248': 1,
 'C1250': 14,
 'C1256': 2,
 'C1257': 5,
 'C1260': 3,
 'C1267': 2,
 'C1270': 114,
 'C1278': 10,
 'C1280': 50,
 'C1283': 1,
 'C1300': 58,
 'C1370': 1,
 'C1400': 34,
 'C1500': 16,
 'C1570': 1,
 'C1580': 1,
 'C1600': 5,
 'C1700': 287,
 'C1720': 6,
 'C1728': 1,
 'C1732': 1,
 'C1800': 15,
 'C1820': 1,
 'C1900': 1,
 'C2000': 6074,
 'C2100': 1883,
 'C2150': 1,
 'C2170': 1,
 'C2190': 1,
 'C2300': 32,
 'C2380': 1,
 'C2400': 6,
 'C2500': 1,
 'C2561': 1,
 'C2570': 1,
 'C2600': 1,
 'C2700': 104,
 'C2710': 3,
 'C2800': 95,
 'C3000': 1918,
 'C3200': 2,
 'C3700': 1,
 'C4000': 194,
 'C4100': 6,
 'C4120': 1,
 'C4200': 1,
 'C4500': 1,
 'C5000': 116,
 'C5200': 1,
 'C6000': 15,
 'C6100': 1,
 'C7000': 777,
 'C7100': 75,
 'C7120': 18,
 'C7200': 32,
 'C7210': 7,
 'C8000': 20,
 'C8200': 11,
 'C8210': 1}

In [49]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

In [50]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace=cutoff(d2,50)

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

Other    33858
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C4100        6
C2400        6
C1720        6
C1257        5
C1600        5
C2710        3
C0           3
C1260        3
C1234        2
C1267        2
C1246        2
C1256        2
C3200        2
C1245        1
C5200        1
C1820        1
C2170        1
C1283        1
C1728        1
C2500        1
C1570        1
C1248        1
C2600        1
C2380        1
C1580        1
C2561        1
C1900        1
C2190        1
C3700        1
C1370        1
C4500        1
C1732        1
C4200        1
C4120        1
C1236        1
C2570        1
C6100        1
C2150        1
C8210        1
Name: CLASSIFICATION, dtype: int64

In [51]:
df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [52]:
# Convert categorical data to numeric with `pd.get_dummies`
df=pd.get_dummies(df)
df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [55]:
# Split our preprocessed data into our features and target arrays
y=df["IS_SUCCESSFUL"]
X=df.drop("IS_SUCCESSFUL",axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [58]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
len(X_test_scaled)

8575

## Compile, Train and Evaluate the Model

In [59]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=5, activation="relu", input_dim=2))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=3, activation="relu", input_dim=2))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

AlreadyExistsError: Another metric with the same name already exists.

In [ ]:
# Compile the model
#  YOUR CODE GOES HERE

In [ ]:
# Train the model
#  YOUR CODE GOES HERE

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE